.invalid{
    color: red;
}
/*-------------------------
  -encabezado de la pagina-
  -------------------------*/
#cabecera{
height: 10em;
background-color: #8b8b48f1; 
}

.logo{
text-align: left;
height: 150px;
position: relative;
}

img{
    height: 9em;
    position: absolute;
    bottom: 3.5em;
}

.title-page{
    font-family: 'Do Hyeon', sans-serif;
    position: relative;
    bottom:10em;
    left: 10em;
    width:12.9em;
}

/*--------------------------
  ------botones de menu-----
  --------------------------*/
.navbar{
    width: 25em;
    height: 3em;
    float: right;
    bottom: 10em;
}

#dropdownMenuButton{ 
    position: relative;
    bottom: 0.1em; 
    left: 1em;
}

#secondary{
    position: relative; 
    float: right;
    bottom: 0.1em;
}

/*--------------------------
  --------formulario--------
  --------------------------*/
.btn{
    position: relative;
    margin-top: 1em;
}

/*--------------------------
  ----------footer----------
  --------------------------*/
footer{
    position: relative; 
    top: 25.5em; 
    background-color: rgba(73, 67, 67, 0.397);
    font-family: 'Do Hyeon', sans-serif;
}

/*--------------------------
  --------responsive--------
  --------------------------*/
@media (min-width:992px) and (max-width:1400px){
    footer{
        top: 50em; 
    }
}


@media (min-width:768px) and (max-width:991px){

    .navbar-toggler{
        position: absolute;
        left: 17em;
        bottom: 7em;
    }

    .navbar{
        position: absolute;
        bottom: 5em;
    }

    footer{
        top: 25.5em; 
    }

    #secondary{
        margin-right: 2.5em;
    }

}


@media (max-width:767px){

    .navbar-toggler{
        position: absolute;
        left: 17em;
        bottom: 3.2em;
    }

    footer{
        top: 25.5em; 
    }

    img{
        bottom: 2em;
    }

    #dropdownMenuButton{
        position: relative;
        margin-left: 7em;
    }

    #secondary{
        margin-right: 2.5em;
    }

}

@media (max-width:479px){

    footer{
        top: 25.5em; 
    }

    #secondary{
        margin-right: 2.5em;
    }

    img{
        bottom: 2em;
    }
    
    .navbar-toggler{
        position: absolute;
        bottom: 1em;
        right: 0.5em;
    }

}