#cabecera{
    height: 10em;
    background-color: $color-encabezado;

    .logo{
        text-align: left;
        height: 150px;
        position: relative;
        bottom: 3.7em;

        img {
            height: 150px;
        }
    }
    
    .title-page{
        position: relative;
        bottom:10em;
        left: 10em;
        width:12.9em;

        h1{
            font-family: $font;
        }
    }

    @include respond-to("md"){
        .logo{
            margin-bottom: 3.5em;
        }
    }

    @include respond-to("sm"){
        .logo{
            margin-bottom: 4em;
            
            img{
                position: absolute;
                top: 2em;
            }
        }
        
        .title-page{
            position: absolute;
            top: 6em;
            margin-left: 1em;
        }
    }

    @include respond-to("xs"){
        .logo{
            margin-bottom: 1em;
    
            img{
                position: relative;
                top: 2em;
            }
        }
    
        .title-page{
            position: absolute;
            top: 6em;
            margin-left: 1em;
        }
    }
    
}
