/*-------------------------
  -encabezado de la pagina-
  -------------------------*/
#cabecera{
height: 10em;
background-color: #8b8b48f1; 
}

.logo{
text-align: left;
height: 150px;
position: relative;
bottom: 3.7em;
}

#logo-empresa{
    height: 150px;
}

.title-page{
    font-family: 'Do Hyeon', sans-serif;
    position: relative;
    bottom:10em;
    left: 10em;
    width:12.9em;
}

/*--------------------------
  ------botones de menu-----
  --------------------------*/
.navbar{
    width: 25em;
    height: 3em;
    float: right;
    bottom: 10em;
}

#dropdownMenuButton{ 
    position: relative;
    bottom: 0.1em; 
    left: 1em;
}

#secondary{
    position: relative; 
    float: right;
    bottom: 0.1em;
}

/*-------------------------
  ---------slider----------
  -------------------------*/
  
.carousel-inner{
    position: relative;
    bottom: 7em;
}

.fechas{
    z-index: 1;
    position: absolute;
    width: 77em;
    bottom: 18.5em;
    background-color: #d4cece8c;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Do Hyeon', sans-serif;
  }

  .d-block{
      width: 100%;
  }

/*--------------------------
  ---------buscador---------
  --------------------------*/
.topnav{ 
    background-color:rgb(105, 105, 105); 
    height: 3em; 
    margin-top: 8em;
}

#buscador{
    height: 2em;  
    margin-top: 0.5em
}

/*--------------------------
  --------articulos---------
  --------------------------*/
.title{
    font-family: 'Do Hyeon', sans-serif;
}

#articulos{
    margin-top: 10em;
}

.articulo-texto{
    margin:1em; 
    font-family: 'Do Hyeon', sans-serif;
}

.articulo-boton{
    position: relative; 
    float: center;
    top: 1em;
}

/*--------------------------
  ----------footer----------
  --------------------------*/
footer{
    position: relative; 
    top:20em; 
    background-color: rgba(73, 67, 67, 0.397);
    font-family: 'Do Hyeon', sans-serif;
}

/*--------------------------
  --------responsive--------
  --------------------------*/
@media (min-width:992px) and (max-width:1400px){

    .articulo img{
        width: 16em;
    }

    .fechas{
        position: static;
        width: 100%;
    }
}


@media (min-width:768px) and (max-width:991px){

    .carousel-inner{
        position: relative;
        bottom: 10em;
    }

    .navbar-toggler{
        position: absolute;
        left: 17em;
        bottom: 8em;
    }

    .navbar{
        position: absolute;
        bottom: 5em;
    }

    #secondary{
        margin-right: 2.5em;
    }

    .logo{
        margin-bottom: 3.5em;
    }

    .fechas{
        position: static;
        width: 100%;
    }

    .articulo img{
        width: 10em;
    }
}


@media (max-width:767px){

    .navbar-toggler{
        position: absolute;
        left: 17em;
        bottom: 7.2em;
    }

    .carousel-inner{
        position: relative;
        bottom: 10em;
    }

    #dropdownMenuButton{
        position: relative;
        margin-left: 7em;
    }

    #secondary{
        margin-right: 2.5em;
    }

    .logo{
        margin-bottom: 4em;
    }

    #logo-empresa{
        position: absolute;
        top: 2em;
    }

    .fechas{
        position: static;
        width: 100%;
    }

    .articulo img{
        width: 50%;
    }

    .articulo{
        margin-top: 4em;
    }
}

@media (max-width:479px){

    #logo-empresa{
        position: relative;
        top: 2em;
    }

    #secondary{
        margin-right: 2.5em;
    }

    .navbar-toggler{
        position: absolute;
        left: 17em;
        bottom: 6em;
    }

    .fechas{
        position: static;
        width: 100%;
    }

    .articulo img{
        width: 50%;
    }

    .logo{
        margin-bottom: 1em;
    }

    .title-1{
        position: absolute;
        top: 6em;
        margin-left: 1em;
    }

    .navbar-toggler{
        position: absolute;
        bottom: 2em;
        right: 0.5em;
    }

    .carousel-inner{
        position: relative;
        bottom: 4em;
    }

    .articulo{
        margin-top: 4em;
    }
}