#articulos{
    margin-top: 10em;

    .title{
        font-family: $font;
    }

    .articulo-texto{
        margin:1em; 
        font-family: $font;
    }

    .articulo-boton{
        position: relative; 
        float: center;
        top: 1em;
    }
}

@include respond-to("lg"){
    .articulo img{
        width: 16em;
    }
}

@include respond-to("md"){
    .articulo img{
        width: 10em;
    }
}

@include respond-to("sm"){
    .articulo img{
        width: 50%;
    }
    
    .articulo{
        margin-top: 4em;
    }
}

@include respond-to("xs"){
    .articulo img{
        width: 50%;
    }

    .articulo{
        margin-top: 4em;
    }
}