.navbar{
    width: 25em;
    height: 3em;
    float: right;
    bottom: 10em;

    #dropdownMenuButton{ 
        position: relative;
        bottom: 0.1em; 
        left: 1em;
        }
    
    #secondary{
        position: relative; 
        float: right;
        bottom: 0.1em;
    }
}

@include respond-to("md"){
    .navbar-toggler{
        position: absolute;
        left: 17em;
        bottom: 8em;
    }

    
    .navbar{
        position: absolute;
        bottom: 5em;

        #secondary{
            margin-right: 1em;
        }
    }
}

@include respond-to("sm"){
    .navbar-toggler{
        position: absolute;
        left: 17em;
        bottom: 7.2em;
    }

    #dropdownMenuButton{
        position: relative;
        margin-left: 7em;

        #secondary{
            margin-right: 1em;
        }
    }
}

@include respond-to("xs"){
    .navbar-toggler{
        position: absolute;
        bottom: 2em;
        right: 0.5em;
    }

    #secondary{
        margin-right: 1em;
    }
}