.carousel-inner{
    position: relative;
    bottom: 7em;

    .d-block{
        width: 100%;
    }
    
    .fechas{
        z-index: 1;
        position: absolute;
        width: 77em;
        bottom: 18.5em;
        background-color: $color-fechas;
        text-align: center;
        font-size: 1.5em;
        font-family: $font;
    }
}

@include respond-to("lg"){
    .fechas{
        position: static;
        width: 100%;
    }
}

@include respond-to("md"){
    .carousel-inner{
        position: relative;
        bottom: 10em;

        .fechas{
            position: static;
            width: 100%;
        }
    }
}

@include respond-to("sm"){
    .carousel-inner{
        position: relative;
        bottom: 10em;

        .fechas{
            position: static;
            width: 100%;
        }
    }
}

@include respond-to("xs"){
    .carousel-inner{
        position: relative;
        bottom: 4em;

        .fechas{
            position: static;
            width: 100%;
        }
    }
}