@mixin respond-to($breakpoint) {
    @if $breakpoint == "xs" {
        @media (max-width:479px) {
        @content;
        }
    }

    @else if $breakpoint == "sm" {
        @media (max-width:767px) {
        @content;
        }
    }

    @else if $breakpoint == "md" {
        @media (min-width:768px) and (max-width:991px) {
        @content;
        }
    }

    @else if $breakpoint == "lg" {
        @media (min-width: 992px) and (max-width:1400px) {
        @content;
        }
    }
}